*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 300;
}
#logo,h1,h2,h3,h4,h5,h6{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

header{
    padding-top: 16px;
    padding-bottom: 16px;
    height: 72px;
    border-bottom: 1px solid rgb(150, 145, 145);
    background-color: rgb(233, 216, 216);
}
.container{
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;  
     
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 12px;
    list-style: none;
}

#logo{
    text-decoration: none;
    font-size:28px;
    color: black;
}
.navlist{
    text-decoration: none;
    color: rgb(94, 90, 90);
}
.icon{
    gap: 8px;
}
h1,.h1{
    margin-bottom: 24px;
    font-size: 3.815rem;
}
h2,.h2{
    font-size: 3.052rem;
}
h3,.h3{
    font-size: 2.441rem;
}
h4,.h4{
    font-size: 1.953rem;
}
h5,.h5{
    font-size: 1.563rem;
}
h6,.h6{
    font-size: 1.25rem;
}
p{
    font-size: 1rem;
    line-height: 160%;
    color: rgb(95, 91, 91);
}
small{
    font-size: .8rem;
}

#section1{
    background-color:rgb(243, 223, 243);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
#section1 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
#section1 p{
    width: 560px;
    align-items: center;
}
.button{
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: .25rem;

}
.primarybutton{
   
    background-color: black;
    color: white;
   
}
.secondarybutton{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;

}
.buttonholder{
    margin-top: 2rem;
}
.categorylist{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    
}
.category img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.category{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}
#section2{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

    